.image_1{
    background-repeat: no-repeat;
    background-attachment: fixed; 
    /* background-size: 100% 100%; */
    background-position: center;
    background-size: cover;
    height: 50%;
    /* opacity: 0.5;  */
}

.p1{
    background-image: url('./image/penguin.jpg');
}

/* body{
    background-image: url('./image/penguin.jpg');
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
} */

div{
    /* background-image: url('./image/penguin.jpg'); */
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    /* opacity: 0.5; */
}

.header{
    background-color: bisque;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    height: 1.5cm;
    width: 30cm;
    background: rgba(231, 154, 73, 0.7);
}

.headerText{
    color: black;
    position: relative;
    text-align: center;
    font-size:1cm;
    font-weight: bold;
}

.center{
    color: black;
    text-align: center;
    font-size: 3ch;
    font-weight: bold;
}

.centerText{
    color: black;
    font-size: 2ch;
    text-align: center;
}

.centerText_1{
    color: black;
    font-size: 1ch;
    text-align: center;
}

.grid-container{
    /* display: flex; */
    width: 20cm;
    height: 10cm;
    border: 6px solid black;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* justify-content: center; */
}
.grid-child-left{
    border: 2px solid brown;
}

.grid-child-right{
    border: 2px solid brown;
    text-align: center;
}

ul {
    display: table;
    margin: 0 auto;
}

img:first-child {
    width: 5cm;
    height: 5cm;
    border-radius: 50%;
}

/* img:not(:first-child){
    padding: 1ch;
    width: 1cm;
    height: 1cm;
} */

/* img:hover{
    font-size: 150%;
} */

i{
    padding: 1ch;
    font-size: 200%;
    opacity: 0.7;
}

i:hover{
    font-size: 300%;
    opacity: 1;
}